@{
    ViewData["Title"] = "Calculator";
}

<div class="card mt-5">

    @Html.TextBox("ScreenInput", null, new { @class = "calculator-screen", disabled = "disabled" })

    <div class="calculator-btns">

        <button type="button" class="btn bg-success" onclick="addNumber('1')">1</button>

        <button type="button" class="btn bg-success" onclick="addNumber('2')">2</button>

        <button type="button" class="btn bg-success" onclick="addNumber('3')">3</button>

        <button type="button" class="btn bg-secondary operation" onclick="addOperation('/')">/</button>


        <button type="button" class="btn bg-secondary add-button operation" onclick="addOperation('+')">+</button>


        <button type="button" class="btn bg-success" onclick="addNumber('4')">4</button>

        <button type="button" class="btn bg-success" onclick="addNumber('5')">5</button>

        <button type="button" class="btn bg-success" onclick="addNumber('6')">6</button>


        <button type="button" class="btn bg-secondary operation" onclick="addOperation('-')">-</button>


        <button type="button" class="btn bg-success" onclick="addNumber('7')">7</button>

        <button type="button" class="btn bg-success" onclick="addNumber('8')">8</button>

        <button type="button" class="btn bg-success" onclick="addNumber('9')">9</button>


        <button type="button" class="btn bg-secondary operation" onclick="addOperation('*')">*</button>

        <button type="button" class="btn bg-primary result-button operation" onclick="getResult()">=</button>



        <button type="button" class="btn bg-success zero-button" onclick="addNumber('0')">0</button>

        <button type="button" class="btn bg-success" onclick="addNumber(',')">,</button>

        <button type="button" class="btn bg-danger" onclick="clearScreen()">C</button>

    </div>

    @section Scripts
    {
        <script type="text/javascript">

            var screenInput = $("#ScreenInput");
            var availableOperations = ['-', '+', '/', '*'];

            $(document).ready(function () {
                screenInput.val('0');
            })

            function addNumber(number) {
                var val = screenInput.val();

                if (val == '0' && number != ',')
                    val = '';
                else if (number == ',' && availableOperations.includes(val.slice(-1)))
                    number = '0,';

                screenInput.val(val + number);

                setOperationBtnsAvailable(true);
            }

            function addOperation(operation) {
                screenInput.val(screenInput.val() + operation);

                setOperationBtnsAvailable(false);
            }

            function clearScreen() {
                screenInput.val('0');

                setOperationBtnsAvailable(true);
            }

            function setOperationBtnsAvailable(state) {
                $('.operation').prop('disabled', !state);
            }

            function getResult() {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("Result", "Home")",
                    data: {
                        inputVal: screenInput.val()
                    },
                    success: function (data) {
                        if (data.success)
                            screenInput.val(data.result);
                        else
                            alert(data.message);
                    },
                    error: function (data) {
                        alert(data.message);
                    },
                    dataType: "json"
                });
            }

        </script>
    }

</div>
